<fa-app class="full-screen">

<!-- Header Nav -->
<fa-modifier fa-origin="[0,0]" fa-align="[0,0]" fa-translate="[0,0,100]" fa-size="[undefined,50]">
<fa-surface class="header"><div class="setting"></div></fa-surface>
</fa-modifier>

<!-- Footer Nav -->
<fa-grid-layout fa-options="footerGridOptions">
<fa-modifier fa-origin="[0,1]" fa-align="[0,1]" fa-translate="[0,0,100]" ng-repeat="nav in navs" fa-size="nav.size">
<fa-surface class="footer_nav"><div class="{{nav.class}}"></div></fa-surface>
</fa-modifier>
</fa-grid-layout>

<fa-container-surface fa-options="options.myScrollView" fa-size="[200,200]">
<!-- fa-scroll-view receives all events from $scope.eventHandler, and decides how to handle them -->
<fa-scroll-view fa-pipe-from="eventHandler" fa-options="options.myScrollView">
<fa-view ng-repeat="item in list">
<fa-modifier id="{{'listItem' + $index}}" fa-translate="[0,50,0]" fa-align="[0,0]" fa-size="[undefined,250]">
<!-- All events on fa-surfaces (click, mousewheel) are piped to $scope.eventHandler -->
<fa-surface fa-pipe-to="eventHandler">
<img alt="{{item.title}}" src="{{item.thumbnail.medium}}" />
<p>{{item.description}}</p>
</fa-surface>
</fa-modifier>
</fa-view>
</fa-scroll-view>
</fa-container-surface>

</fa-app>
